In [2]:
import pandas as pd
import os
from pathlib import Path
import numpy as np

In [3]:
#Checks working directory
!dir

 Volume in drive C is Windows-SSD
 Volume Serial Number is 5EAC-9465

 Directory of c:\Users\Asif Shajahan\Desktop\extractionphase

09/12/2022  14:10    <DIR>          .
09/12/2022  14:39    <DIR>          ..
09/12/2022  11:51    <DIR>          .ipynb_checkpoints
09/12/2022  11:27            46,811 chesterfield_25-08-2021_09-00-00.csv
09/12/2022  14:10            12,299 ExtractionDone.ipynb
               2 File(s)         59,110 bytes
               3 Dir(s)  90,560,794,624 bytes free

In [4]:
os.listdir(os.getcwd())

['.ipynb_checkpoints',
 'chesterfield_25-08-2021_09-00-00.csv',
 'ExtractionDone.ipynb']

In [5]:
def get_csv_file():
    csv_files = []
    for file in os.listdir(os.getcwd()):
        if file.endswith(".csv"):
            csv_files.append(file)
        else:
            pass
    return csv_files

In [6]:
get_csv_file()

['chesterfield_25-08-2021_09-00-00.csv']

In [7]:
def make_directory(csv_files,dataset_dir):
    dataset_dir = 'datasets'
    try:
        mkdir = 'mkdir {0}'.format(dataset_dir)
        os.system(mkdir)
    except:
        print("error")
    for csv in csv_files:
        mv_file = "mv '{0}' {1}".format(csv, dataset_dir)
        os.system(mv_file)
        print(mv_file)
    return

In [8]:
# Defining the names of the columns
col_names = [
    "date_time",
    "branch",
    "customer_name",
    "products",
    "total_price",
    "payment_method",
    "card_number",
]

In [9]:
#Asif's File path
file_path = "chesterfield_25-08-2021_09-00-00.csv"

# Undo this to test directory file_path = "reports_from_branches/chesterfield_25-08-2021_09-00-00.csv"

In [10]:

def into_df(file_path:str,col_names:list = col_names) -> pd.DataFrame:
    """Converts the csv file to a pandas dataframe"""
    try:
        df = pd.read_csv(Path(file_path),names= col_names)
        return df
    except FileNotFoundError:
        print("No such file exists")

In [11]:
drop_col = ["customer_name", "card_number"]

#Deletes the columns that have costumers personal details
def delete_col(df,colums_to_drop):
    try:
        df.drop(colums_to_drop,axis= 1,inplace= True)
        df["date_time"] = pd.to_datetime(df["date_time"])
        return df
    except:
        print('error')

In [12]:
#Main
drop_col = ["customer_name", "card_number"]
into_df(file_path,col_names)
new_df = delete_col(into_df(file_path,col_names),drop_col)

#Reset index to start from 1
new_df.index =  np.arange(1, len(new_df) + 1)

In [13]:
new_df

,date_time,branch,products,total_price,payment_method
1,2021-08-25 09:00:00,Chesterfield,Regular Flavoured iced latte - Hazelnut - 2.75...,5.20,CARD
2,2021-08-25 09:02:00,Chesterfield,"Large Flavoured iced latte - Caramel - 3.25, R...",17.30,CARD
3,2021-08-25 09:04:00,Chesterfield,"Large Flat white - 2.45, Regular Latte - 2.15",4.60,CARD
4,2021-08-25 09:06:00,Chesterfield,"Regular Flavoured latte - Hazelnut - 2.55, Lar...",5.00,CARD
5,2021-08-25 09:08:00,Chesterfield,"Regular Latte - 2.15, Large Latte - 2.45",4.60,CASH
...,...,...,...,...,...
264,2021-08-25 16:45:00,Chesterfield,"Large Flavoured iced latte - Vanilla - 3.25, L...",14.35,CARD
265,2021-08-25 16:49:00,Chesterfield,"Large Flavoured latte - Hazelnut - 2.85, Large...",6.10,CASH
266,2021-08-25 16:52:00,Chesterfield,"Large Flavoured iced latte - Hazelnut - 3.25, ...",10.70,CASH
267,2021-08-25 16:56:00,Chesterfield,Regular Flavoured latte - Hazelnut - 2.55,2.55,CASH
268,2021-08-25 16:59:00,Chesterfield,Large Flat white - 2.45,2.45,CASH